@font-face {
  font-family: "GilroyExtraBold";
  src: url("Gilroy-ExtraBold.otf");
}
  
@font-face {
  font-family: "GilroyLight";
  src: url("Gilroy-Light.otf");
}

/* General styling and setting up flex container */
.container {
  display: flex;
  justify-content: center; /* This will center the content horizontally */
  align-items: center; /* This will center the content vertically */
  flex-wrap: wrap; /* This allows the content to wrap to a new line when needed */
  width: 100%; /* Ensures the container takes up the full width */
  min-height: 100vh; /* Ensures the container takes up the full height */
  text-align:center;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .container {
    padding: 0 15px; /* Add some padding on the sides for smaller screens */
  }

  .content {
    max-width: 100%; /* Ensures the content fits within the container */
  }
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .content {
    max-width: 80%; /* Adjust this percentage to control the content width on larger screens */
  }
}

@media (max-width: 768px) {
  .btn {
    width: 50%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.text-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}


@media (max-width: 480px) {
  .text-container {
    max-width: 100%;
    padding: 10px;
  }
}


*{
  box-sizing: border-box;
  padding:22px;
}

/* ############################## */
/*          MAIN BODY       */

body {
  background-color: rgb(39, 78, 155);

}

h1 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "GilroyExtraBold", serif;
  font-size: 6vw;
  color: #f5b32f;
  text-shadow: black 2px 2px;
  text-align: center;
}
  
h2, h3 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "GilroyExtraBold", serif;
  font-size: 3vw;
  text-align: center;
  color: #f5b32f;
}
  
p {
  font-family: "gilroylight", serif;
  display:flex;
  justify-content: center;
  text-align: center;
  font-size: 2vw;
  color: #f5b32f;
}

li {
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  font-family: "gilroylight", serif;
  font-size: 0.4em;
  color: #f5b32f;
}
@media (max-width: 768px) {
  li {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}


a{
  display:flex;
  justify-content:center;
  color:#f5b32f;
  font-family: "gilroylight", serif;
}

/* ######## SUBMIT BUTTONS ####### */

.btn{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width:20%;
  margin-left:auto;
  margin-right:auto;
  background-color: #f5b32f;
  border-radius:21% ;
  border-color: #ffffff;
}

.btn:focus {
  color: #1000f5;
}

.btn:hover {
  background-color: rgb(39, 78, 155);
  color:white;
  font-weight: bold;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-color: #f5b32f;
  border-radius: 25%;
  border-color: #ffffff;
  
  font-size: 0.8em;
}

.btn2:focus {
  color: #1000f5;
}

.btn2:hover {
  background-color: rgb(56, 115, 233);
  color: #f5b32f;
  font-weight: bold;
}

@media (max-width: 768px) {
  .btn2 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ########### Image #############*/

img{
  
  -webkit-transition: background 3s; /* For Safari */
    transition: background 3s;
}

img:hover{
  background-color: #f5b32f;
  -webkit-transition: background 3s; /* For Safari */
    transition: background 3s;
}

/* Formatting colour of code displayed */

code {

  font-size: 1.75vw;
  color:greenyellow;
}

/* Formatting colour of error message displayed */
.error {
  color:red;

}

/* ####### INPUTS ######### */



input[type="text"] {
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1em; /* Add some margin to separate the input boxes from the button */
}
  
input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2vw; /* Adjust the font size as needed */
  background-color: rgb(255, 251, 0);
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 2em; /* Add some padding to make the button easier to click */
}

th {
  font-family: "gilroyextrabold", serif;
  font-size: 2vw; /* Adjust the font size as needed */
  color: #f5b32f;
  text-align: center; /* Add this property to center the text within the table cell */
}

td {
  font-family: "gilroylight", serif;
  font-size: 1.5vw; /* Adjust the font size as needed */
  color: #ffffff;
}

/* Top left score keeper */

#floating-score
{
    position: fixed;
    display:flex;
    flex-wrap:wrap;
    top: 5%;
    left: 6%;
    z-index: 100;
    color:black;
    background-color: #f5b32f;
    border-style: double;
    font-size: 1.75vw; /* Changed to vw unit */
    font-family: "gilroylight", serif;
}

/* Top right time keeper */

#timer-display {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  top: 5%;
  right: 6%;
  z-index: 100;
  color: black;
  background-color: #f5b32f;
  border-style: double;
  font-size: 1.75vw; /* Changed to vw unit */
  font-family: "gilroylight", serif;
}

/* Footer, containing the submission form */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "gilroyextrabold", serif;
  font-size: 2vw; /* Adjust the font size as needed */
  font-weight: bold;
}

/*  COMPANY NAME AT TOP */

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  width: 70vw; /* Adjust the value as needed */
  height: auto;
}

/* -----------Final Score box ----------- */
.disabled-input {
  background-color: #ffffff;
  color: #f5b32f;
  display:flex;
  justify-content: center;
  text-align: center;
  
}
/* ########################################
 */
/* Individual question boxes */
/*
 I realise there are better ways of doing this but because I had a form at the bottom as well with entirely different formatting this seemed to be a logical solution.

However I was likely tired and just being lazy instead of trying to figure out an eloquent solution to the problem
*/
 

#myForm {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm2 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm3 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm4 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm5 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm6 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm7 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm8 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm9 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm10 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}
#myForm11 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}
#myForm12 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}
#myForm13 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}
#myForm14 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}
#myForm15 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm16 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm17 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm18 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm19 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm20 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}


#myForm21 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm22 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}
#myForm23 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm24 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm25 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm26 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm27 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm28 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm29 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}

#myForm30 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
}